<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });
</script>

<script src="/js/materialize.min.js"></script>

<footer class="page-footer footer-copyright footr center-align" style="z-index:2">
  <div class="row">
    <div class="col s12 m12 l12 xl12 white-text center-align">
      © 2019 Mario Hess
    </div>
  </div>
</footer>

</body>

</html>